*{
    font-family:"century gothic";
    margin:0;
    padding:0;
    border:0;
    outline: none;
}

:root{
    --dgreen:#088;
    --mgreen:#0cc;
    --lgreen:#0dd;
    --dgray:#333;
    --lgrey:#888;
}

html, body{
    width:100vw; height:100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.hidden{
    display:none;
}

.shown{
    display:block;
}

.darker-bg{
    background-color: var(--dgreen);
    color:rgb(0, 243, 243);
}

.dark-bg{
    background:url(https://www.unsplash.it/1000/500?grayscale);
    background-size:cover;
    background-attachment: fixed;
    color:#fff;
}

.light-bg{
    background-color: #f5f5f5;
    color:#000;
}

.white-bg{
    background-color: #ffffff;
    color:var(--dgreen);
}

.dark-glass{
    background-color: #008b8b50;
}

.light-glass{
    background-color: #fffe;
}

.shadow{
    box-shadow:3px 3px 5px #0008;
}

text{
    color:var(--dgreen);
    font-family: inherit;
}

.quote{
    font-family: autography;
    font-size: 3.5rem;  
    max-width:50vw;
    flex-wrap:wrap;
    text-align: center;
    color:#999;
}

.quote::before{
    content:open-quote;
    display:inline;
    font-size: 3rem;
}

.quote::after{
    content:close-quote;
    display:inline;
    font-size: 3rem;
}

.total{
    width:100%;
    padding-top:100px;
    padding-bottom:100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.half{
    display:flex;
    justify-content: center;
    align-items: center;
}

.left-panel{
    position:fixed;
    z-index:10;
    width:555px;
    height:100vh;
    display:flex;
    flex-direction:row;
    transition:1s ease-in-out;
    will-change: auto;
}

.menu-left{
    height:100%;
    width:500px;
    display:flex;
    align-items: center;

    flex-direction: column;
}

.logo-area{
    width:150px;
    height:150px;
    border-radius: 50%;
}

.logo-area img{
    width:inherit;

}

.menu-right{
    width:55px;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.square-area{
    height:45px;
    width:45px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;

}

.menubar{
    width:45px;
    height:5px;
    background:var(--dgreen);
    transition:0.3s;  
    border-radius:1.5px;
}

.bar1{
    position:absolute;
    transform:translateY(-12px);
}

.bar1x{
    width:50px;
    transform:rotate(45deg) translateY(0);  
    transition:0.3s;  
}

.bar2{
    position:absolute;
    transition:0.3s;
}

.bar2x{
    width:50px;
    transform:rotate(-225deg);
    transition:0.3s;
}

.bar3{
    position:absolute;
    transform:translateY(12px);
    z-index:8;
}

.bar3x{
    width:50px;
    transform: rotate(-45deg) translateY(0);
    transition:0.3s;
}


.left_500{
    transform:translateX(-500px);
}

.to-normal{
    transform:translateX(0);
}

.content{
    padding-top:100px;
    padding-bottom:100px;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

h1{
    font-size:4.5rem;
    line-height:5.5rem;
    text-transform: capitalize;
    font-weight:200;
}

h2, h3 {
    text-transform: capitalize;
}

h2{
    font-size:2.5rem;
    margin-bottom: 8rem;
    font-weight:200;  
}

h3{
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight:200;  
}

.selector{
    width:500px;
    height:40px;
    background:linear-gradient(to top, #d8d8d8, #fff);
    border-radius:5px;
    border:solid 1px #333;
    display:flex;
    flex-direction: row;
    font-size:1rem;
    text-transform:capitalize;
    overflow:hidden;
}



.option{
    border-right:1px solid #333;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}



.option:hover{
    background-color: var(--dgreen);
    color:#fff;
}

.option:last-child{
    border:none;
}

.inner{
    width:80vw;
    padding-top:50px;
    padding-bottom:50px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows:20vh;
    gap:0.5vw;
}

.exhibit{
}

.logo{
    background: url(https://unsplash.it/300/200);
    background-size: cover;
}

.idv{
    background: url(https://unsplash.it/300/200?grayscale);
    background-size: cover;
}




