*{
    font-family:"century gothic";
    box-sizing:border-box;
    margin:20px;
}

.btn{
    padding:1rem;
    font-size:1.3rem;
    text-transform: uppercase;
    cursor:pointer;
}

.b1{
    
    border:3px solid #ff5900;
    border-radius:5px;
    background: linear-gradient(to bottom, #f89661, #ff5900);
    font-weight: 700;
    color:#fff;
}

.b2{
    color:#fff;
    background: linear-gradient(to bottom, var(--mgreen), var(--dgreen));
    border:3px solid var(--dgreen);
    border-radius:5px;
    
}

.b3{
    
    border:3px solid var(--dgreen);
    border-radius:5px;
    color:var(--dgreen);
}






input[type=text] {
    width:350px;
    height:40px;
    border-bottom:solid var(--dgreen) 2px;
    border-left: solid var(--dgreen) 2px;
    border-radius:0 15px 0 5px;
    background-color: #f5f5f5;
    font-size: 1.2rem;
    padding:0 1rem;
}